In [2]:
import pandas as pd
data = pd.read_csv("iris.csv")
data = data.drop("Id",axis=1)

In [3]:
x = data.drop("Species",axis=1)
x.head(5)
data.head()

   SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm      Species
0            5.1           3.5            1.4           0.2  Iris-setosa
1            4.9           3.0            1.4           0.2  Iris-setosa
2            4.7           3.2            1.3           0.2  Iris-setosa
3            4.6           3.1            1.5           0.2  Iris-setosa
4            5.0           3.6            1.4           0.2  Iris-setosa

In [4]:
y = data["Species"]
y.head()

0    Iris-setosa
1    Iris-setosa
2    Iris-setosa
3    Iris-setosa
4    Iris-setosa
Name: Species, dtype: object

In [6]:
from sklearn.model_selection import cross_val_score # import cross validation score class

### K-Nearest Neighbors

In [ ]:
from sklearn.neighbors import KNeighborsClassifier # import the class
knn = KNeighborsClassifier() # creating an object
cross_val_score(knn, x, y, cv=5).mean() # calling cros_val_score method. In there 5 is the parts of the dataset

np.float64(0.9733333333333334)

### Random Forest

In [ ]:
from sklearn.ensemble import RandomForestClassifier # import the class
rf = RandomForestClassifier() # creating an object
cross_val_score(rf, x, y, cv=5).mean()

np.float64(0.9666666666666668)

### Naive Bayes

In [11]:
from sklearn.naive_bayes import GaussianNB
nb = GaussianNB()
cross_val_score(nb, x, y, cv=5).mean()

np.float64(0.9533333333333334)

### Support Vector Machine

In [12]:
from sklearn.svm import SVC
svm = SVC()
cross_val_score(svm, x, y, cv=5).mean()

np.float64(0.9666666666666666)

#### Acording to above details KNN algorithm having the highest accuracy. So it is the most suitable algorithm for the 'Iris' dataset